h1 {
    padding-top: 1.5rem;
    text-align: left;
}

h2 {
    text-align: left;
}

h3 {
    padding-top: 2rem;
    text-align: left;
    line-height: 1rem;
    font-size: 1.3rem;
}

h4 {
    text-align: left;
    line-height: 1rem;
    font-size: 0.8rem;
}

hr {
    margin-top: -18px;
}

article {
    box-sizing: border-box;
    background-color: rgb(211, 204, 204);
    position: relative;
    height: 10rem;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    width: 24.25rem;
    line-height: 0.3rem;
    transition: background-color 1s;
  }

article:hover {
    background-color: royalblue;
}

img {
    float: left;
}

.container {
    padding: 1rem 2rem 15rem 2rem;
}

.new-tweet {
    height: 10rem;
    background-color: rgb(211, 204, 204);
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

.text-area {
    width: 22rem;
    position: relative;
}
 
.btn-tweet {
    margin-right: 15rem;
    float: left;
    position: relative;
}

.counter {
    float: right;
}

.error {
    float: left;
    margin-left: 9.5rem;
    width: 3rem;
    color: #D8000C;
    background-color: #FFD2D2;
    display: none;
}


